section.carousel
	.carousel__inner
		.carousel__caption
			h1 
				span.title VESTIBULUM
			
			.subtitle
				span.subtitle-inner Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.	
			
		.carousel__items.hidden-xs(data-role="carousel-main")
			.carousel__item
				.carousel__img-holder(style="background-image: url(http://placehold.it/1500x500/7f8c8c/7f8c8c); ")
			.carousel__item
				.carousel__img-holder(style="background-image: url(http://placehold.it/1500x500/978298/978298);")
			.carousel__item
				.carousel__img-holder(style="background-image: url(http://placehold.it/1500x500/eca1f1/eca1f1);")