.carousel-clients.hidden-xs
	.carousel-clients__inner
		.carousel-clients__title
			h4 Our Happy Clients
			span.separtor
			.buttons
			
		.hidden-xs(data-role="carousel-clients")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")
			img(class="img-responsive" src="images/client.png")

