footer.footer
	.container
		.row
			.col-xs-12.col-sm-4
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec . 
				p Phone:
					a(href="tel:+18225695896")|182 2569 5896
				p e-mail:
					a(href="mailto:info@modu.versus")|info@modu.versus
					
			.col-xs-12.col-sm-4
				.row
					.col-xs-6
						p.footer__title Company
						ul.footer__nav
							li
								a(href="") About
							li
								a(href="") FAQ
							li
								a(href="") Contact
							li
								a(href="") Terms
							li
								a(href="") Privacy
							li
								a(href="") Testimonials
						
					.col-xs-6
						p.footer__title Community
						ul.footer__nav
							li
								a(href="") Blog
							li
								a(href="") Forum
							li
								a(href="") Support
							li
								a(href="") Newsletter

			.col-xs-12.col-sm-4
				.footer__media-list
					.media__title 
						i from the
						strong  BLOG
						
					.media
						figure.media__img
							img(src="images/media-cup.png")
						.media__content
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit
							p.media__date 26 May, 2013
							
					.media
						figure.media__img
							img(src="images/media-cup.png")
						.media__content
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit
							p.media__date 26 May, 2013

.footer.footer-bar
	.container
		.row
			.col-xs-6
				p 2013  ModusVersus
				
			.col-xs-6
				ul.list-inline.text-right.list-social
					li
						a(href="#" target='_blank') 
							i(class="fa fa-facebook" aria-hidden="true")
					li
						a(href="#" target='_blank') 
							i(class="fa fa-google-plus" aria-hidden="true")
					li
						a(href="#" target='_blank') 
							i(class="fa fa-tumblr" aria-hidden="true")
					li
						a(href="#" target='_blank') 
							i(class="fa fa-rss" aria-hidden="true")