.gallery-sreens.gallery-sreens--3-screens
	.screen-item.screen-item--first
		.screen-item__img-holder
			img(src='http://placehold.it/363x215/62b9b0/fff?text=your+image')
	.screen-item
		.screen-item__img-holder
			img(src='http://placehold.it/560x310/7f8c8c/fff?text=your+image')
	.screen-item.screen-item--last
		.screen-item__img-holder
			img(src='http://placehold.it/363x215/62b9b0/fff?text=your+image')