header.header
	.container
		a.header__logo(href='#')
			strong MODUS
			|services
		
		ul.header__nav.pull-right.hidden-xs
			li.active
				a(href="#") Home
			li
				a(href="#") ABOUT
			li
				a(href="#") SERVICES
			li.dropdown
				a(href="#") PORTFOLIO
				ul.dropdown__menu
					li
						a(href="#") Portfolio 2 column page
					li
						a(href="#") Portfolio 2 column page
					li
						a(href="#") Portfolio 2 column page
						
			li
				a(href="#") BLOG
			li
				a(href="#") FEATURES
			li
				a(href="#") CONTACTS
			li
				a(href="#") 
					i.fa.fa-search
					
		mobile-nav.visible-xs.pull-right
			a(href="#") 
				i.fa.fa-bars