extend ../base/global

block carousel
	include ../components/carousel-main
			
block content

	section.section-services
		.container.services
			.row
				.col-xs-12
					.services__more
						.services__text
							h2.h2 Some of our top services
							p Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
						.services__btn-more
							button.btn.btn-main.btn-main--invert(data-role="get-more-service") view more

				.services__list.col-xs-12
					.row(data-role="service-top-anchor")
						script(id="getTopServices" type="text/template")
							| {{#services}}
							.col-xxs-12.col-xs-6.col-md-3
								.card
									i(class="card__icon {{class}}")
									h4.card__title {{title}}
									p {{description}}
									button.btn.btn-main read more
							| {{/services}}
							
					script(id="getServices" type="text/template")
						| {{#services}}
						.col-xxs-12.col-xs-6.col-md-3
							.card
								i(class="card__icon {{class}}")
								h4.card__title {{title}}
								p {{description}}
								button.btn.btn-main read more
						| {{/services}}
						
					.row(data-role="service-anchor")
						.col-xs-12.spinner.hidden
							i(class="fa fa-spinner fa-pulse fa-6x fa-fw")

	section.section--full-width.section--pre-about
		.container
			.row
				.col-xs-12.text-center
					h2.title-largest WHY MODUS VERSUS?
					p Capacitance cascading integer reflective interface data development high bus cache dithering transponder.
	
	section.section-about
		.container
			include ../components/gallery-sreens
		
			.row
				.col-xs-12.col-sm-3
					h4 
						strong Why Choose Us ?
					
				.col-xs-12.col-sm-5
					p Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus 
						a(href="") vehicula mattis
						|. Nulla ac massa at dolor condimentum eleifend vitae vitae urna.
				.col-xs-12.col-sm-3
						h4 
							strong What Client’s Say ?
			.row
				.col-xs-12.col-sm-3
						ul.list-arrows
							li Quisque at massa ipsum 
							li Maecenas a lorem augue, egestas 
							li Cras vitae felis at lacus eleifend 
							li Etiam auctor diam pellentesque 
							li Nulla ac massa at dolor 
							li Condimentum eleifend vitae vitae  
						
				.col-xs-12.col-sm-5
				.col-xs-12.col-sm-3
				
			include ../components/carousel-clients