@import '../base/variables';
.footer {
	padding-top: 40px;
	background: url(../images/decor_f.png) 	repeat-x @brandColorInvert;
	color: #fff;
	&-bar {
		padding-top: 20px;
  	background: @brandColorInvertDark; //#6ab3ac
		.list-social {
			margin-top: -2px;
			li {
				padding-left: 14px;
				i {
					font-size: 24px
						
					}
						
				}
			}
		}
	a {
		color: #fff;
	}
}

.media {
	overflow: hidden;
	&__img {
		float: left;
		padding-right: 16px;
		img {
			max-width: 100px;
		}
	}
	&__content {
		overflow: hidden;
	}
}	
